.dndflow {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    height: 100%;
  }
  
  .dndflow aside {
    border-right: 1px solid #e6e2ff;
    padding: 15px 10px;
    font-size: 12px;
    background: #f3f1ff;
  }

  .dndflow aside .sidebar{
   margin-top: 150px;

  }
  
  .dndflow .dndnode {
    height: 50px;
    width: auto;
    padding: 4px;
    border: 2px solid;
    background-color:white;
    border-radius: 24px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    font-size:small;
    font-weight: bold;
  }

.YNbtn{
    display: flex;
    justify-content:space-between;
    align-items: center;
  }
  
  .dndflow .dndnode.sendemail {
    border-color: #00d05e;
  }
  
  .dndflow .dndnode.updatefield {
    border-color: #005eff;
  }
  .dndflow .dndnode.action {
    border-color: #005eff;
  }
  .dndflow .dndnode.delay {
    border-color: #ff7b00;
  }
  .dndflow .dndnode.yes {
    height: 50px;
    width: 100px;
    padding: 4px;
    border-radius: 24px;
    margin-bottom: 10px;
    cursor: grab;
    color: white;
    background-color: #4CAF50;
    border-color: #4CAF50;
  }
  .dndflow .dndnode.no {
    height: 50px;
    width: 100px;
    padding: 4px;
    border-radius: 24px;
    margin-bottom: 10px;
    cursor: grab;
    color: white;
    background-color: #f44336;
    border-color: #f44336;
  }


  .dndflow .reactflow-wrapper {
    flex-grow: 1;
    height: 100%;
    
  }
  
  .dndflow .selectall {
    margin-top: 10px;
  }
  
  @media screen and (min-width: 768px) {
    .dndflow {
      flex-direction: row;
    }
  
    .dndflow aside {
      width: 20%;
      max-width: 250px;
    }
  }
  