.delayNode {
  border: 2px solid #fa8600;
  border-radius: 8px;
  max-width: 200px;

}

.handle {
  height:15px;
  border-radius: 30px;
  border:2px solid white;
  width: 15px;
  background-color: #fa8600;
}

.body {
  display: flex;
  flex-direction: column;
  outline: 1px solid #ff4d4f;
  padding: 8px;
}

.label {
  color: gray;
  margin-bottom: 4px;
}


/*
.handle:hover {
  background-color: #FF4696 !important
}
*/

.header {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  padding: 8px;
  min-height: 30px; */
}
.labelContainer {
  background-color: #fa8600;
  border-radius: 6px 6px 0 0 ;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  color: white;
  border-bottom: 1px solid #fa8600;
}

.labelContainer h6{
  padding-left: 2px;
  padding-top: 5px;
}


.textupdaternodedelay>p{
  padding-left: 5px;
  padding-top: 5px;
  color: #070707;
  font-size: 12px;
}

.textupdaternodedelay>p>b{
  color: #fa8600;
}


.textupdaternodedelay{
  margin: 8px;
}