.actionNode {
  border: 2px solid #1455fa;
  border-radius: 8px;
  max-width: 200px;
}
.body {
  display: flex;
  flex-direction: column;
  outline: 1px solid #00d05e;
  padding: 8px;
}
.label {
  color: gray;
  margin-bottom: 4px;
}

.handle {
  height:15px;
  border-radius: 30px;
  border:2px solid white;
  width: 15px;
  background-color: #1455fa;
}



.true {
  position: absolute;
  border-radius: 24px;
  background-color: #52c41a;
}

.false {
  position: absolute;
  border-radius: 24px;
  background-color: #ff4d4f;
}

/* .true:after {
  content: "";
  display: block;
  height: 12px;
  width: 12px;
  background: #fff;
  -webkit-mask: url(../../assets/Check.svg);
  mask: url(../../assets/Check.svg);
}

.false:after {
  content: "";
  height: 12px;
  width: 12px;
  background: #fff;
  -webkit-mask: url(../../assets/Close.svg);
  mask: url(../../assets/Close.svg);
} */


.header {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  padding: 8px;
  min-height: 30px; */
}
.labelContainer {
  background-color: #1455fa;
  border-radius: 6px 6px 0 0 ;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  color: white;
  border: 2px solid #1455fa;
}

.labelContainer h6{
  padding-top: 5px;
}

.textupdaternodeaction{
  margin: 8px;
}

.textupdaternodeaction>p{
  padding-left: 5px;
  padding-top: 5px;
  color: #070707;
  font-size: 12px;
}

.textupdaternodeaction>p>b{
  color: #1455fa;
}

