.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  padding: 8px;
  min-height: 30px;
}
.labelContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(192, 192, 192);
}

.draggerIcon {
  width: 24px;
  height: 24px;
}


.close:hover {
  fill: rgba(0, 0, 0, .5);
}

.close:focus {
  outline: 0;
}


